{% load static %}
<nav class="navbar navbar-light" style="background-color: black">
  <div class="container">
    <a class="navbar-brand" href="{% url 'links:index' %}">
      <img src="{% static 'image/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:white">LinkHub</span>
    </a>
    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'links:recent_projects' user.username %}">Недавние</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link"
          href="">Витрина</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="">Проекты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="{% url 'links:create_project' %}">Создать</a>
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link"
          href="{% url 'links:profile' user.username %}">Профиль</a>
        {% else %}
        <a class="nav-link"
          href="">Войти</a>
        {% endif %}
      </li>
    </ul>
    {% endwith %}
  </div>
</nav>
