{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Создать ссылку
{% endblock %}
{% block content %}
  <h1 class="mb-4">Создать новую ссылку</h1>
  {{ form.media }}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="my-3"
        {% if field.field.required %}
         aria-required="true"
        {% else %}
           aria-required="false"
        {% endif %}
      >
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
          {% if field.field.required %}
            <span class="required text-danger">*</span>
          {% endif %}
        </label><br>
        {{ field|addclass:'form-control' }}
        {% if field.help_text %}
          <small class="form-text text-muted">
            {{ field.help_text }}
          </small>
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-primary float-end" type="submit">
      Создать новую ссылку
    </button>
  </form>
{% endblock %}
