{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {% if is_editing %}
    Редактирование раздела "{{ form.instance.title|truncatechars:10 }}
  {% else %}
    Создание раздела
  {% endif %}
{% endblock %}
{% block content %}
  <h3>
  {% if is_editing %}
    Редактирование раздела "{{ form.instance.title }}"
  {% else %}
    Создание нового раздела
  {% endif %}
  </h3>
  <div class="row justify-content-center">
    <div class="col-md-10 p-4">
      <div class="card">
        <div class="card-header">Новый раздел</div>
        <div class="card-body">
          {{ form.media }}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ errors|escape }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="my-3"
              {% if field.field.required %}
                aria-required="true"
              {% else %}
                aria-required="false"
              {% endif %}
            >
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required text-danger">*</span>
                {% endif %}
              </label><br>
              {{ field|addclass:'form-control' }}
              {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                  {{ field.help_text}}
                </small>
              {% endif %}
            </div>
            {% endfor %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                {% if is_editing %}
                  Сохранить изменения
                {% else %}
                  Создать новый раздел
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}