{% extends 'base.html' %}
{% block title %}
  Подтверждение
{% endblock %}
{% block content %}
  <div class="col-md-8 p-4">
    <div class="card">
      <div class="card-header">Удаление записи</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <p>Вы уверены, что хотите удалить источник "{{ link.title }}"?</p>
          <button class="btn btn-primary">Да</button>
          <a href="{% url 'links:head' link.head.id %}" class="btn btn-primary text-light">Нет</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}