{% extends 'base.html' %}
{% block title %}
  {{ head.title }}
{% endblock %}
{% block content %}
  {% load user_filters %}
  {% load static %}
  <h3 class="mb-3">
    <a class="text-dark" href="{% url 'links:project_detailed' head.project.id %}">{{ head.project.title }}</a> / {{ head.title }}
  </h3>
  <p class="mb-3">{{ head.project.description }}</p>
  {% for link in head.links.all %}
    <div class="media mb-4 project_head" style="background-color: #F5F5F5">
      <div class="media-body">
        <div class="media_inner_container" >
          <div class="media_inner_left" >
            <h5 class="mt-0">
              <a href="{% url 'links:link' link.id %}">
                {{ forloop.counter }}. {{ link.title }}
              </a>
            </h5>
            {% if link.url %}
              <h6 class="mt-0">
                <a href="{{ link.url }}" target="_blank " >
                  {{ link.url }}
                </a>
              </h6>
            {% endif %}
            <p>
              {{ link.description|get_description }}
            </p>
          </div>
          <div class="media_inner_right" >
            <div>
              <a href="{% url 'links:link_edit' link.id %}" class="modify_link"><img src="{% static 'image/edit.png' %}" width="24" height="24" alt=""></a>
              <a href="{% url 'links:link_delete' link.id %}" class="modify_link ml-1"><img src="{% static 'image/delete.png' %}" width="24" height="24" alt=""></a>
            </div>
            <h6 class="more_info">
              <a href="">
                Подробнее
              </a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="">
    <a class="btn btn-primary" href="{% url 'links:create_link' head.id %}">
     Добавить новый источник
    </a>
  </div>
{% endblock %}