{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Создать проект
{% endblock %}
{% block content %}
<h3>
  {{ link.head.project.title }} / {{ link.head.title }} / {{ link.title }}
</h3>
    <span>
      <h6>Описание:</h6>
      {{ link.description }}
    </span>
    <span>
      <h6>Ссылка:</h6>
      <a href="{{ link.url }}">
        {{ link.url }}
      </a>
    </span>
    <a href="">
    Редактировать
    </a>

<!--Комментарии-->
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий</h5>
          <div class="card-body">
            <form method="post" action="">
              {% csrf_token %}
              <div class="form-group mb-2">
                11
              </div>
              <button type=submit class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      <h4 class="mb-4">Комментарии:</h4>
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="">
                {{ comment.author.username }}
              </a>
            </h5>
            <p>
                {{ comment.text }}
            </p>
          </div>
        </div>
      {% endfor %}

{% endblock %}