{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Создать проект
{% endblock %}
{% block content %}
<h3>
  {{ link.head.project.title }} / {{ link.head.title }} / {{ link.title }}
</h3>
<div class="row justify-content-center">
  <div class="col-md-8 p-4">
    <div class="card">
      <div class="card-header">{{ link.title }}</div>
      <div class="card-body">
        <span>
          <h6>Описание:</h6>
          {{ link.description }}
        </span>
        <span>
          <h6>Ссылка:</h6>
          <a href="{{ link.url }}">
            {{ link.url }}
          </a>
        </span>
      </div>
      <a href="">
        Редактировать
      </a>
    </div>
  </div>
</div>
{% endblock %}