{% extends 'base.html' %}
{% load static %}
{% block title %}
  Профиль
{% endblock %}
{% block content %}
  {% load thumbnail %}
  <div class="title_wrapper mb-3">
    <h3>Профиль пользователя {{ profile.username }}:</h3>
    {% if user == profile %}
      <a href="{% url 'users:logout' %}"><img src="{% static 'image/exit.png' %}" width="30" height="30"></a>
    {% endif %}
  </div>
  <div class="profile_container row">
    {% thumbnail profile.profile_image "200x170" as im %}
      <img width="170" class="img-fluid user_img col" height="200" src="{{ im.url }}" alt="" />
    {% endthumbnail %}
    <div class="profile_info col">
        <div class="info_container">
            <span><b>О себе: </b>{% if profile.about %}{{ profile.about_info|slice:'3:-4'|safe }}{% else %}Не указано{% endif %}</span>
            <span><b>Имя: </b>{% if profile.first_name %}{{ profile.get_full_name }}{% else %}Не указано{% endif %}</span>
            <span><b>Почта: </b>{% if profile.email %}{{ profile.email }}{% else %}Не указано{% endif %}</span>
        </div>
    </div>
  </div>
  <div class="d-flex align-items-end flex-column bd-highlight mb-3">
    <div class="d-flex">
      {% if user.is_authenticated and profile != user %}
        <div class="bd-highlight">
          <a class="btn btn-primary edit_btn" href="{% url 'links:give_editor_role' editor_id=profile.id %}">Сделать редактором проекта</a>
        </div>
        {% if is_editor %}
          <div class="bd-highlight">
            <a class="btn btn-primary edit_btn" href="{% url 'links:deny_editor_role' editor_id=profile.id %}">Убрать роль редактора</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
    {% if user == profile %}
      <div class="bd-highlight">
        <a class="btn btn-primary edit_btn" href="">Изменить пароль</a>
        <a class="btn btn-primary edit_btn" href="{% url 'links:edit_profile' user.id %}">Редактировать профиль</a>
      </div>
    {% endif %}
  </div>
  <div class="mart my-4">
    <h5 class="my-4">Витрина</h5>
    <div class="projects_container row">
        {% for project in mart %}
          <div class="mart_project">
              <a href="{% url 'links:project_detailed' project.id %}">
                {{ project.title }}
              </a>
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="projects">
    <h5 class="my-3">Все проекты ({{ projects_amount }}):</h5>
    {% for project in projects %}
      <div class="media mb-4 project_head" style="background-color: #F5F5F5">
        <div class="media-body">
          <div class="media_inner_container" >
            <div class="media_inner_left" >
              <h5 class="mt-0">
                <a href="{% url 'links:project_detailed' project.id %}">
                  {{ forloop.counter }}. {{ project.title }} {% if project.is_private %} (private){% endif %}
                </a>
              </h5>
              <p>
                {{ project.description }}
              </p>
              <span>Статус: {% if project.main_admin == profile %}
                              создатель
                            {% else %}
                              редактор
                            {% endif %}
              </span>
            </div>
            <div class="media_inner_right" >
              <h6 class="more_info">
                <a href="">
                  Подробнее
                </a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}