{% extends 'base.html' %}
{% block title %}
  Проект
{% endblock %}
{% block content %}
  <h1>
    LinkHub
  </h1>
  <ul class="types navbar">
    <a class="type_link" href="">
      <li class="first_direction_type">
        Программирование
      </li>
    </a>
    <a class="type_link" href="">
      <li class="direction_type">
        Web разработка
      </li>
    </a>
    <a class="type_link" href="">
        <li class="direction_type">
          Web разработка
        </li>
    </a>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus neque, dapibus non libero eu, hendrerit ultricies elit. Quisque sollicitudin tortor nec justo luctus, ac ultrices orci facilisis. Phasellus ac leo nisl. Aenean fermentum odio sed vulputate ultricies. Curabitur pharetra urna quis lectus tempor, ac porta velit varius. Aliquam varius posuere lorem, sit amet varius felis congue non. Mauris a massa aliquet, iaculis ex eget, aliquam magna.

Sed non lorem eu augue condimentum accumsan. Phasellus nunc purus, cursus a cursus sed, sodales vel erat. Donec quis libero cursus, accumsan lorem vitae, pretium nisi. Suspendisse potenti. Integer arcu eros, vestibulum non ipsum sit amet, mollis iaculis augue. Aliquam ligula felis, euismod et libero sit amet, tincidunt varius libero. Sed vitae scelerisque orci, a rhoncus urna. Sed ac pretium augue. Nunc faucibus nisi leo, porta efficitur risus ultrices vulputate. Morbi nulla nunc, fringilla nec ligula ut, egestas sodales est. Sed facilisis orci dolor, eu accumsan orci vehicula non. Pellentesque auctor urna at odio sollicitudin, quis cursus dolor dictum.

Proin in congue est. Maecenas euismod id enim id aliquam. In congue volutpat enim, vitae rutrum elit euismod in. Donec tristique odio a tempus egestas. Integer vel urna nibh. Integer sagittis fermentum odio, vitae blandit diam iaculis vel. Curabitur euismod augue eros. Fusce fermentum sagittis libero, in condimentum neque condimentum non. Vestibulum ultricies egestas elit, ut ornare arcu ultricies rhoncus. Cras condimentum elementum mollis. Proin at tincidunt arcu. Maecenas vitae diam purus. Curabitur luctus in leo ut venenatis. Sed vel mauris augue. Curabitur at porta tortor, vitae ornare dui.
  </p>
  <br>
  <p>
    Команда разработки:
  <ul>
  <li>
    <a href="">Артем</a>
  </li>
  <li>
    <a href="">Артем</a>
  </li>
  <li>
    <a href="">Артем</a>
  </li>
  </ul>
  </p>
  <form class="my-5">
    <div class="search_block">
      <input class="search_line" type="text" placeholder="Введите название раздела" name="" id="">
      <button type="submit" class="btn btn-primary">Искать</button>
    </div>
  </form>
  <div class="my-4">
    <h4>
      Содержание:
    </h4></div>
    <div class="media mb-4 project_head" style="background-color: gray">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="">
            Архив прошлого года
          </a>
        </h5>
        <p>
          Старший курс загрузил лекции Симушева
        </p>
        <h6 class="more_info">
            Подробнее
        </h6>
      </div>
    </div>
    <div class="media mb-4 project_head" style="background-color: gray">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="">
            Архив прошлого года
          </a>
        </h5>
        <p>
          Старший курс загрузил лекции Симушева
        </p>
        <h6 class="more_info">
            Подробнее
        </h6>
      </div>
    </div>
{% endblock %}