{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {{ page_title }}
{% endblock %}
{% block content %}
  <h3 class="mb-4">
    {{ page_title }}
  </h3>
  {% if have_content %}
    {% for project in projects %}
      <div class="media mb-4 project_head" style="background-color: #F5F5F5">
        <div class="media-body">
          <div class="media_inner_container" >
            <div class="media_inner_left" >
              <h5 class="mt-0">
                <a href="{% url 'links:project_detailed' project.id %}">
                  {{ project.title }}
                </a>
              </h5>
              <p>
                {{ project.description|get_description }}
              </p>
            </div>
            <div class="media_inner_right" >
              <span>Последнее изменение: {{ project.last_edit|date:"d.m.Y H:i" }}</span>
              <h6 class="more_info">
                <a href="">
                  Подробнее
                </a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div>
      <span>Еще нет сохраненных проектов</span>
    </div>
  {% endif %}
{% endblock %}